body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
}

#container {
    border: 22px double red;
    padding: 30px;
    width: 400px;
}

#containerInputValores {
    display: flex;
    flex-direction: column;
}